*Credentials.h
*MyNotes.*
*.zip
build/
/.build/
/.arduino-cache/
/.local/
/.arduino/
/PowerShellPath
*.FCBak
sketches/Smaeenhouse/Credentials.h
git-filter-repo
git_filter_repo.py
/Documentation
/measurements/
/data/
/exports/
/ha-history/
/home-assistant-history/
OTAupload.ps1
/worktress/
